body
{
background: url('tt.gif');
background-size: cover;
}

.heading{
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    font-size: 23px !important;
}

.heading #instructions{
    border-radius: 12px;
}
#instructions{
    float: right;
    border: 2px white solid;
}

#start{
    margin-top: 0px;
}

.btn-danger .btn-primary{
    margin-left: 10px;
}

.btn-danger{
    margin-left: 120px;
}

canvas{
    margin-left: 300px;
    margin-top: 40px;
}
